# EditorConfig is awesome: http://EditorConfig.org

root = true

# All Files
[*]
indent_style = space
end_of_line = lf
charset = utf-8
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

# JSON
[*.json]
indent_size = 4

# Markdown
[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
