# Dotfiles
.DS_Store
.gitignore
.gitattributes
.npmignore
.jshintrc
.editorconfig

# Logs & Temp Files
*.log
*.dat
*.out
*.pid

# Development Files
*.sublime-*
Makefile

# Documentation & Extras
README.md
docs/
examples/
assets/
